* {
    box-sizing: border-box;
}

body {
    background-image:url('background_image2.jpg');
    background-repeat: no-repeat;
    background-color: #cccccc;
    height: 700px; 
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 1040px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}

.drums {
    border-radius: 5px;
    font-weight: 900;
    width: 100px;
    height: 70px;
    border: 2px solid red; 
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: red;
    background-color: rgba(213, 98, 98, 0.427);
}

.active {
   transform:scale(1.2);
   border-color: yellow;
}